// bower:scss
@import "bower_components/reset-css/_reset.scss";
@import "bower_components/slick-carousel/slick/slick.scss";
// endbower

// base
@import 'base/variables';
//@import 'base/fontello';
@import 'base/utils';
//@import 'base/slick';

*,
*::before,
*::after {
  box-sizing: border-box;
}

.browserupgrade {
  background: #ccc;
  color: #000;
  margin: 0.2em 0;
  padding: 0.2em 0;
}

html,
body {
  height: 100%;
}

body {
  color: $base-color;
  font-family: $lato;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 63px;
  width: 100%;
}

// shared components
@import 'components/title';

// layout
@import 'layout/header';
@import 'layout/category-menu';
@import 'layout/signup';
@import 'layout/footer';

// blocks
@import 'blocks/denim';
@import 'blocks/promo';
@import 'blocks/brands';
@import 'blocks/arrivals';
@import 'blocks/bonus-cards';
@import 'blocks/customer-services';

// forms
@import 'forms/subscribe-form';
@import 'forms/search';
