// colors
//$primary-color: #;
//$secondary-color: #062033;
$base-color: #2a2a2a;
$link-color: #120400;

// fonts
$lato: 'Lato', sans-serif;;
$open-sans: 'Open Sans', sans-serif;

// queries (use only mobile first - min width queries)
$large-screen-up: 992px;
$medium-screen-up: 769px;
$small-screen-up: 480px;
